@using Project_OnlineBookStore.Models;
@model Project_OnlineBookStore.Models.Book
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h1>Book Catalogue</h1>
<section>
    <div class="container">
        <!--100 % width container-->
        <div class="row">

            <div class="col-lg-4 col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/shreeman.jpg" class="card-img-top" alt="...">
                    <div class="card-body">


                    </div>
                </div>
            </div>
           
                @using (Html.BeginForm())
                {
                    <div>
                        <input type="hidden" name="id" value="@Model.BId" />

                        <h5 id="scrollspyHeading1">Name: @Html.DisplayFor(model => model.BName)</h5>

                        <h4 id="scrollspyHeading2">Price: @Html.DisplayFor(model => model.BPrice)</h4>
                        <div class="form-group">
                            <input type="number" placeholder="Enter Qty" min="1" max"10" id="qty" name="qty" />

                            <input type="submit" value="Add To Cart" class="btn btn-warning" />
                        </div>
                    </div>
                }
                @* <h4 id="scrollspyHeading4">
                        Questions and Answers
                    </h4>
                    <p>
                        <h6>Q:is it day and date automatic change?</h6>
                        A:Yes
                        <h6>Q:this is nice or not?</h6>
                        A:Nice
                    </p>*@

            </div>
        </div>
    </div>
    </div>

</section>
